.sider {
  height: 100vh;
  background: white !important;
}

.menu {
  height: "100%";
  border-right: 0px;
}

@media (max-width: 992px) {
  .sider {
    position: absolute !important;
    width: 200px;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
  }
}
